.background {
  z-index: -1;
  position: absolute;
  inset: 0;

  display: flex;
}

.background::after {
  content: '';
  position: absolute;
  inset: 0;

  background: var(--shadow-car);
}

.cloud {
  display: none;
  position: absolute;
}

.car {
  width: 100%;
  height: auto;

  margin-top: auto;
}
