nav {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 80px;

  margin-top: 32px;
}

nav a {
  font-size: 20px;
  cursor: pointer;
}

nav a:hover {
  color: var(--pink);
  transition: all 0.4s;
}

nav a img {
  width: auto;
  height: 54px;
}
